/* Rofi config file */
configuration {
    font: "BigBlueTerm437 Nerd Font 10";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}

@theme "oxide"

listview {
    lines: 12;
}
